In [1]:
a=10
b=20
a
b

20

In [2]:
a=10
b=20
print(a)
print(b)

10
20

In [3]:
print(10)
print(20)

10
20

In [4]:
print(10),print(20)

10
20

(None, None)

In [5]:
10,20

(10, 20)

In [6]:
print(a,b)

10 20

In [7]:
print(30,'hello','how are you')
#3values

30 hello how are you

In [11]:
num1=1000
num2=200
add=num1+num2
#the addition of 100 and 200 is 300 
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of",num1,"and",num2,"is",add)

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 1000 and 200 is 1200

In [17]:
name="python"
age=10
city="hyd"
# my name is python im 10 years old came from hyderabad
print("my name is python im 10 years old came from hyderabad")
print("my name is name im age years old came from city")
print("my name is", name, "im",age, "years old came from", city)

my name is python im 10 years old came from hyderabad
my name is python im 10 years old came from hyd
my name is name im age years old came from city

**FORMAT METHOD:**

In [20]:
name="python"
age=10
city="hyd"
print("my name is {} im {} years old came from {}".format(name,age,city))

my name is python im 10 years old came from hyd

In [2]:
num1=100
num2=200
add=num1+num2
#the addition of num1 and num2 is 300 
print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 100 and 200 is 300
the addition of 100 and 200 is 300

In [36]:
num1=100
num2=200
sub=num1-num2
multiplication=num1*num2
div=num1/num2
print("the sub of 100 and 200 is -100")
print("the multiplication of num1 and num2 is 20000")
print("the div of 100 and 200 is 0.5")
print("the sub of {} and {} is {}".format(num1,num2,sub))
print("the multiplication of {} and {} is {}".format(num1,num2,multiplication))
print("the div of {} and {} is {}".format(num1,num2,div))
print(f"the sub of {num1} and {num2} is {sub}")
print(f"the multiplication of {num1} and {num2} is {multiplication}")
print(f"the div of {num1} and {num2} is {div}")

the sub of 100 and 200 is -100
the multiplication of num1 and num2 is 20000
the div of 100 and 200 is 0.5
the sub of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the div of 100 and 200 is 0.5
the sub of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the div of 100 and 200 is 0.5

In [1]:
a=10
b=20
c=30
avg=(a+b+c)/3
print("the average of a,b,c is : avg")
print("the average of {},{},{} is : {}".format(a,b,c,avg))

the average of a,b,c is : avg
the average of 10,20,30 is : 20.0

In [2]:
print("======================ADDITION===========================")
num1=1000
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}".format(num1,num2,add))

print("========================SUBTRACTION===========================")

num1=100
num2=200
sub=num1-num2
print("the subtraction of num1 and num2 is sub")
print("the subtraction of {} and {} is {}".format(num1,num2,sub))


print("=======================MULTIPLICATION============================")


num1=100
num2=200
div=num1/num2
print("the division of num1 and num2 is div")
print("the division of {} and {} is {}".format(num1,num2,div))


print("========================DIVISION==========================")

a=10
b=20
c=30
avg=(a+b+c)/3
print("the average of a,b,c is : avg")
print("the average of {},{},{} is : {}".format(a,b,c,avg))

======================ADDITION===========================
the addition of 100 and 200 is 300
the addition of 1000 and 200 is 1200
========================SUBTRACTION===========================
the subtraction of num1 and num2 is sub
the subtraction of 100 and 200 is -100
=======================MULTIPLICATION============================
the division of num1 and num2 is div
the division of 100 and 200 is 0.5
========================DIVISION==========================
the average of a,b,c is : avg
the average of 10,20,30 is : 20.0

**f string: formatted string method:**

In [35]:
num1=100
num2=200
add=num1=num2

print("addition of num1 and num2 is 300")
print("the addition of {} and {} is {}".format(num1,num2,300))
print(f"the addition of {100} and {200} is {300}")

addition of num1 and num2 is 300
the addition of 200 and 200 is 300
the addition of 100 and 200 is 300

**Round:**

In [ ]:
# print()
# type()
# int()
# float()
# str()
# bool()
# round()

#ctrl+A
#CTRL+/

In [38]:
round(10.77777) #10.7 ===> 11

11

In [39]:
round(10.77777,2)

10.78

In [40]:
round(10.77777,3)

10.778

In [41]:
print(round(10.77777))
print(round(10.77777,2))
print(round(10.77777,3))

11
10.78
10.778

In [45]:
a=11
b=20
c=30
avg=(a+b+c)/3
avg1=round(avg,2)
print(avg1)
print(round(avg,2))

20.33
20.33

**I have multiple print statements but i want to show in single line:**

In [47]:
print(10)
print(20)

10
20

**End operator:**

In [51]:
print(10,end="  ")
print(20)

10  20

In [52]:
print(10,end=" ")
print(20,end=" ")
print(20)

10 20 20

In [53]:
print('hello',end=' ')
print('how',end=' ')
print('are',end=' ')  
print('you')

hello how are you

**I have multiple values in a single print statement,**
**i want print them with some seperation**

In [54]:
print(10,20,30)
#10==== 20====== 30

10 20 30

**Sep:**

In [57]:
print(10,20,30,sep='===>')

10===>20===>30

In [ ]:
#wap take the radius of a circle and calculate area of the circle
#var1:radius var2: pi=3.14
#formuale: pi*radius*radius
#print the answers usinG f string and format 

#wap take th breath and height of a right angle triangle 
#calculate the area
#var1: breadth var2:ht
#formuale: 0.5*breadth*heigh

#wap take the bill amount and the tip amount 
#calculate total bill
#var1:bill amount var2:tip amount
#formulae

#wap take the length and breadth of a rectangle calculate area
#var1:length var2: breadth
#formulae: length*breadth

In [2]:
var1=int(input("Enter a radius:"))
pi=3.14
area=pi*var1*var1
print(f"area of circle is {var1} and {pi} and {area}")
print("area of circle is {} and {} and {}".format(var1,pi,area))

Enter a radius: 3

area of circle is 3 and 3.14 and 28.259999999999998
area of circle is 3 and 3.14 and 28.259999999999998

In [3]:
radius=20
pi=3.14
area=pi*radius*radius
print(f"the area of circle is {area}")

the area of circle is 1256.0

In [4]:
var1=int(input("Enter breadth"))
var2=int(input("enter height"))  
area=0.5*(var1)*(var2)
print(f"area of right angle triangle whose breadth {var1} and height {var2} its area is {area}")
print("area of right angle triangle whose breadth {} and height {} its area is {}".format(var1,var2,area))

Enter breadth 10
enter height 5

area of right angle triangle whose breadth 10 and height 5 its area is 25.0
area of right angle triangle whose breadth 10 and height 5 its area is 25.0

In [4]:
breadth=20
height=40
area=0.5*breadth*height
print(f"the area of right angle triangle is: {area}")

the area of right angle triangle is: 400.0

In [2]:
var1=int(input("bill amount"))
var2=int(input("tip amount"))
bill=var1+var2
print("bill amount {} + tip amount {} = total amount {}".format(var1,var2,bill))
print(f"bill amount {var1} + tip amount {var2} = total amount {bill}")

bill amount 1000
tip amount 200

bill amount 1000 + tip amount 200 = total amount 1200
bill amount 1000 + tip amount 200 = total amount 1200

In [5]:
bill_amount=1000
tip_amount=200
total_bill=bill_amount+tip_amount
total_bill

1200

In [9]:
var1=int(input("length"))
var2=int(input("breadth"))
area=var1*var2 
print("area of rectangle {} where its length is {} and beadth is {}".format(area,var1,var2))
print(f"area of rectangle {area} where its length is {var1} and beadth is {var2}")

length 50
breadth 30

area of rectangle 1500 where its length is 50 and beadth is 30
area of rectangle 1500 where its length is 50 and beadth is 30

In [6]:
breadth=20
length=40
area=length*breadth 
print(f"the area of rectangle is : {area}")

the area of rectangle is : 800